@import '../../styles/variables.scss';

.comicList {
    cursor: pointer;

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        row-gap: 57px;
        column-gap: 67px;
        margin-bottom: 45px;
    }

    &__card {
        display: flex;
        width: 225px;
        flex-direction: column;
        gap: 10px;
    }

    &__img {
        width: 100%
    }

    &__price {
        text-transform: uppercase;
        opacity: 0.6;
    }

    &__footer {
        text-align: center;
    }
}