@import '../../styles/variables.scss';

.charInfo {
    display: grid;
    position: sticky;
    top: 30px;
    background-color: $white;
    grid-template-columns: 1fr;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    padding: 25px;
    column-gap: 25px;

    @media screen and (min-width: $m) {
        grid-template-columns: 150px 1fr;
    }

    &__avatar {
        width: 150px;
        height: 150px;
        padding-bottom: 15px;
        object-position: top;
    }

    &__header {
        display: grid;
        grid-template-rows: 1fr auto auto;
        row-gap: 10px;
        padding-bottom: 15px;
    }

    &__name {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: bold;
    }

    &__descr {
        grid-column: 1 / -1;
        padding-bottom: 25px;
    }

    &__list {
        grid-column: 1 / -1;
    }
    
    &__listHeader {
        grid-column: 1 / -1;
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__item {
        padding: 5px 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        line-height: 14px;
        margin-bottom: 10px;
        transition: background 300ms;

        &:hover {
            background-color: $lightGray;
        }

        :last-child {
            margin-bottom: 0;
        }
    }

    &__message {
        grid-column: 1 / -1;
    }
}