@import '../../styles/variables.scss';

@mixin grid {
    display: grid;
    grid-template-rows: auto 1fr 61px;
    align-items: end;
}

.randomChar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    height: 250px;

    &__container {
        padding: 35px 40px 35px 35px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
        background-color: transparent;
        
        
        &_first {
           gap: 30px;
           display: flex;
        }

        &_second {
            @include grid;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
            background-image: url('../../resources/images/mjolnir.png');
            background-repeat: no-repeat;
            background-position: right bottom;
        }

        &_light {
            background-color: $white;
        }

        &_dark {
            background-color: $black;
        }
    }

    &__avatar {
        width: 180px;
        height: 180px;
        object-position: top;
    }

    &__info {
        @include grid;
    }

    &__header {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: bold;
    }

    &__title {
        color: $white;
        font-size: 24px;
        font-weight: bold;
        z-index: 1;
    }

    &__buttonGroup {
        display: flex;
        gap: 30px;
    }

    // &__image {
    //     position: absolute;
    //     bottom: 15px;
    //     left: 0;
    //     z-index: 0;
    // }

}